.Section1Article {
    width: 100%;
    height: 572px;
}

.section1ContentHeader {
    text-align: left;
    margin-left: 7.1em;
    padding-top: 0.8em;
    font-size: 2.5em;
    font-weight: 400;
}

.section1ContentGeneral {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 970px;
    height: 426px;
    margin-left: 18em;
    margin-top: 2.6em;
}

.section1Content1 {
    width: 218px;
    height: 405px;
}

.section1ContentGeneral :hover {
    box-shadow: 1px 1px 1px 1px #888888;
}

.section1ContentPDiv:hover {
    box-shadow: 0px 0px 0px 0px #888888;
}

.section1Content2 {
    width: 218px;
    height: 405px;
    margin-left: 3%;
}

.section1Content3 {
    width: 218px;
    height: 405px;
    margin-left: 3%;
}

.section1Content4 {
    width: 218px;
    height: 405px;
    margin-left: 3%;
}

.section1Partie2ImageDiv {
    margin-top: 1.4%;
}

.section1ContentImage {
    width: 13.25em;
    height: 13.25em;
}

.section1ContentDis {
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
}

.section1ContentDis3 {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
}

.section1ContentE-Billet {
    font-weight: 500;
    font-size: .8em;
    padding-left: 0.2em;
    background-color: rgb(220, 12, 90);
    color: white;
    width: 145px;
    height: 18px;
    margin-top: -0.001em;
    margin-left: -4%;
}

.section1ContentDiscriptionH3 {
    font-size: 1.1em;
    font-weight: 400;
    margin-left: 0.6em;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

.section1ContentDiscriptionH33 {
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 1.5em;
    margin-left: 0.6em;
    margin-bottom: 0.3em;
}

.section1ContentDiscriptionH34 {
    font-size: 1.1em;
    font-weight: 400;
    margin-left: 0.6em;
    margin-top: 1.5em;
    margin-bottom: 0.3em;
}

.section1ContentDiscriptionP {
    margin-left: 0.8em;
    width: 203px;
    font-size: .8em;
    margin-bottom: 1em;
}

.section1ContentButton {
    position: relative;
    display: inline-block;
    border: 0;
    color: #FFF;
    width: 12.5em;
    margin: -0.2em 0 0.5em 0.7em;
    border-radius: 3.75em;
    height: 2.5em;
    background: linear-gradient(#d9007b, #ec005b);
}

.section1ContentDiscriptionDiv3 {
    margin-top: -9%;
}

.section1ContentPDiv {
    display: inline-block;
    margin-left: -1em;
}

.section1ContentP {
    margin: 0.85em 4em;
    font-size: 0.875em;
    width: 100px;
}

.section1ContentIconDiv {
    position: absolute;
    right: 0.4em;
    top: 0.39em;
    background: #FFF;
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
}

.section1ContentIconSpan {
    color: #dc0178;
    font-size: 1em;
    line-height: 1.8em;
    font-weight: bold;
    padding-left: 10px;
}

#section1ContentIcon {
    margin-top: -9%;
}


/*Deuxieme partie */

.section1Partie2ImageDiv {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    margin-left: 0.1%;
}


/*Troisieme partie*/

.section1Partie3 {
    width: 100%;
    height: 246.8px;
}

.section1Partie3Div {
    width: 960px;
    height: 246.8px;
    margin-left: 17.9%;
}

.section1Partie3H2 {
    font-family: AvenirBook, Arial, sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    margin-top: 2em;
    margin-left: 0.3em;
    margin-bottom: 3%;
}

.section1Partie3Logos {
    width: 960px;
    height: 360px;
    margin-left: 30%;
}

.section1Partie3LogosP {
    margin-left: -58.5%;
}

.section1ContentImage0 {
    height: 35px;
    width: 67px;
    margin-left: 17.9em;
}

.section1ContentImage1 {
    height: 35px;
    width: 67px;
    margin-left: 0.5em;
}

.section1ContentImage2 {
    height: 35px;
    width: 80px;
    margin-left: 0.5em;
}

.section1ContentImage3 {
    height: 35px;
    width: 119px;
    margin-left: 0.5em;
}

.section1ContentImage4 {
    height: 35px;
    width: 44px;
    margin-left: 0.5em;
}

.section1ContentImage5 {
    height: 36px;
    width: 117px;
    margin-left: 0.5em;
}

.section1ContentImage6 {
    height: 36px;
    width: 87px;
    margin-left: 0.5em;
}

.section1ContentImage7 {
    height: 36px;
    width: 96px;
    margin-left: 0.5em;
}

.section1ContentImage8 {
    height: 36px;
    width: 84px;
    margin-left: 0.5em;
}

.section1ContentImage9 {
    height: 36px;
    width: 117px;
    margin-left: 0.5em;
}

.section1ButtonDiv {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: -31.5%;
}

.section1Button {
    width: 194px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
}

.section1ButtonDiv :hover {
    background-color: rgb(242, 242, 242);
}

.section1ButtonSpan {
    font-size: 1.1em;
}

@media screen and (max-width: 1280px) {
  .section1DeuxiemeP {
    margin-right: 2em;

  }
  .section1ContentHeader{
    background-color: red;
  }
}
