#container, #container-conditions{
  width:100%;
  padding:30px 0 0 0;
}

#container-conditions{
  background:#ECEDEB;
}

.dest-section{
  width:80%;
  margin:auto;
}

.dest-titre-h2{
  font-size: 2.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: AvenirBook, Arial, sans-serif;
  font-weight: 400;
}

/* ======================================== */

.dest-menu-deroulant{
  display: flex;
  border-bottom: 1px solid gray;
}

.dest-menu-deroulant div{
  margin: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 0;
  font-size: 0.9rem;
}

.dest-menu-deroulant i{
  font-size: 1.5rem;
}

.dest-train, .dest-hotel, .dest-weekend, .dest-vol, .dest-destinations, .dest-conditions-texte{
  padding:10px 0;
  display: none;
}

.dest-train p, .dest-hotel p, .dest-weekend p, .dest-vol p, .dest-destinations p{
  line-height: 30px;
}

.dest-train a, .dest-hotel a, .dest-weekend a, .dest-vol a, .dest-destinations a{
  padding:0 8px;
  font-family: serif;
  font-size: 0.9rem;
}

.dest-train a:first-child, .dest-hotel a:first-child, .dest-weekend a:first-child, .dest-vol a:first-child, .dest-destinations a:first-child{
  padding:0;
  margin: 0;
}

.dest-train a:hover, .dest-hotel a:hover, .dest-weekend a:hover, .dest-vol a:hover, .dest-destinations a:hover{
  color:orange;
  text-decoration: underline;
}


.dest-clic{
  color: #E0570A;
  border-bottom: 3px solid #E0570A;
}

.dest-clic i{
    -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

/******/

.dest-conditions{
  background: #ECEDEB;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 25px 0px;
}

#btn-masquer-conditions{
  font-size:2rem;
  cursor: pointer;
}

.dest-conditions-voir{
  font-weight: bold;
}

.dest-pointeur-conditions{
  cursor: pointer;
}

.dest-clic-conditions{
  -webkit-transform: rotate(90deg);
transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s;
transition: transform 0.3s;
}

.dest-conditions-texte h3{
  font-size: 1rem;
  font-weight: bold;
  margin:15px 0;
  text-transform: uppercase;
  padding:0;
}

.dest-conditions-texte p{
  text-align: justify;
  font-size: 0.7rem;
  line-height: 14px;
}

.dest-copyright{
  padding:20px 0;
}
